<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
  <servlet>
    <servlet-name>springDispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springDispatcher</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>metrics</servlet-name>
    <servlet-class>hello.PrometheusMetricsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>metrics</servlet-name>
    <url-pattern>/prometheus/</url-pattern>
  </servlet-mapping>

  <!-- <filter> -->
  <!--   <filter&#45;name>requestFilter</filter&#45;name> -->
  <!--   <filter&#45;class>hello.RequestFilter</filter&#45;class> -->
  <!-- </filter> -->
  <!-- <filter&#45;mapping> -->
  <!--   <filter&#45;name>requestFilter</filter&#45;name> -->
  <!--   <url&#45;pattern>/*</url&#45;pattern> -->
  <!-- </filter&#45;mapping> -->

</web-app>
